<div class="container mt-5">
  <div class="row">
    <div class="col">

      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          
            <div class="alert alert-danger" role="alert" *ngFor="let error of errors">{{error}}</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="content" formControlName="content" placeholder="Add a comment...">
                <input type="hidden" class="form-control" id="commentable_type" formControlName="commentable_type" value="playlist">
                <input type="hidden" class="form-control" id="commentable_id" formControlName="commentable_id" [value]="playlistId">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Comment</button>
            </div>
         
        </div>
      </form>
      
    </div>
  </div>
</div>
  