
<figure class="hover-img">
    <img src="../../assets/images/David.png"/>
    <figcaption>
      <h3>David Taplin <br/></h3>
    </figcaption>
  </figure>

  <figure class="hover-img">
    <img src="../../assets/images/Joe.png"/>
    <figcaption>
      <h3>Joe Letner<br/></h3>
    </figcaption>
  </figure>

  <figure class="hover-img">
    <img src="../../assets/images/Sara.png"/>
    <figcaption>
      <h3>Sara Hampson<br/></h3>
    </figcaption>
  </figure>

  <figure class="hover-img">
    <img src="../../assets/images/Jon.png"/>
    <figcaption>
      <h3>Jon Beal<br/></h3>
    </figcaption>
  </figure>

  <figure class="hover-img">
    <img src="../../assets/images/Victoria.png"/>
    <figcaption>
      <h3>Victoria Guardado<br/></h3>
    </figcaption>
  </figure>

  <figure class="hover-img">
    <img src="../../assets/images/Eric.png"/>
    <figcaption>
      <h3>Eric Smith <br/></h3>
    </figcaption>
  </figure>

  