<div style="overflow:hidden; position:absolute; left:0; top:0; width:50px; height:25px;">
    <div style="margin-top:-290px;">
    <object width="420" height="315">
      <param name="movie" value="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2">
      <param name="allowFullScreen" value="true">
      <param name="allowscriptaccess" value="always">
      <embed src="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true">
    </object>
    </div>
  </div>
  
  <p id="start">&hellip;</p>
  
  <h1>My Video Playlist <sub> A New Hope for streaming Movies</sub></h1>
  
  <div id="titles">
    <div id="titlecontent">
      <p class="center">MVP<br />
        </p>
  
      <p>It has been too long...</p>
      
      <p>We are living in an era where there are many ways to stream movies growing over the last decade and it has arose a plethera of conflictive feelings. Whether they don't have the movie you want to watch or they are taking it off by the next month. The problem has grown exponentially and seems like it is the only way until the millineia. Matters like this only leads to anger, and anger leads to hate, and hate leads to... </p><h2>the darkside!</h2>
  
      <p>With that being said, our team would like to thank you for however you journeyed onto our site but more importantly we would like to welcome you into the world where what you see, is what you love. And what you love, we love to see! Welcome to The New Hope..  Start your playlist today!</p>
  
      <p>A good time had, you will. the promise is made, to be let down, you will not! We are honored to be of your service. Always feel welcome for recommendations, and you have been given the power to add your choice of movie, at you leisure!  </p>
      <p></p>
      <p></p>
  

<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />



      <div class="social-links">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-github"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
      </div>
 