<div class="container">
    <div class="jumbotron">
        <div class="text-center"></div>
        <input type="text" class="form-control" placeholder="Search For A Movie" />
    </div>
    </div>
    <body>
<div class="grid-container">
  <div class="grid-item"></div>
  <div class="grid-item">Movies</div>
  <div class="grid-item">Followed Playlists</div>
  <div class="grid-item">
    <a routerLink="/user-playlists" class="text-reset">My Playlists</a>
  </div>
  <div class="grid-item"></div>

</div>


